.my-form-group {
    margin-bottom: 0.75rem;
}
.content {
    text-align: center;
}
.container {
    max-width: 1040px;
    margin: 0 auto;
}
.myInput {
    width: 200px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.mytable {
    margin-top: 0.75rem;
}